{% extends 'general/base.html' %}

{% block title %}Créditos{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/credits.css') }}">
{% endblock %}

{% block content %}

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title_credits">Palabra del día</h5>
            <a href="https://dle.rae.es" target="_blank">dle.rae.es</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title_credits">Palabra en inglés del día</h5>
            <a href="https://dictionary.cambridge.org" target="_blank">dictionary.cambridge.org</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title_credits">Frase del día</h5>
            <a href="https://proverbia.net/frase-del-dia" target="_blank">proverbia.net/frase-del-dia</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title_credits">Artículo del día</h5>
            <a href="https://es.wikipedia.org" target="_blank">es.wikipedia.org</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title_credits">Santos del día</h5>
            <a href="https://www.santopedia.com" target="_blank">santopedia.com</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title_credits">Efemérides del día</h5>
            <a href="https://www.hechoshistoricos.es" target="_blank">hechoshistoricos.es</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h2 class="title_credits">Contacto</h2>
            <p>Próximamente proporcionaremos un correo electrónico para sugerencias.</p>
        </div>
    </div>
</section>

{% endblock %}