{% extends 'partials/base.html' %}

{% block title %}Créditos{% endblock %}

{% block styles %}{% endblock %}

{% block content %}

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title">Palabra del día</h5>
            <a href="https://dle.rae.es" target="_blank">dle.rae.es</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title">Palabra en inglés del día</h5>
            <a href="https://dictionary.cambridge.org" target="_blank">dictionary.cambridge.org</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title">Frase del día</h5>
            <a href="https://proverbia.net/frase-del-dia" target="_blank">proverbia.net/frase-del-dia</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title">Artículo del día</h5>
            <a href="https://es.wikipedia.org" target="_blank">es.wikipedia.org</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title">Santos del día</h5>
            <a href="https://www.santopedia.com" target="_blank">santopedia.com</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h5 class="title">Efemérides del día</h5>
            <a href="https://www.hechoshistoricos.es" target="_blank">hechoshistoricos.es</a>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col text-center">
            <h2 class="title">Contacto</h2>
            <p>contacto@hodie.cafe</p>
        </div>
    </div>
</section>

{% endblock %}