{% extends 'partials/base.html' %}

{% block title %}Inicio{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/economy.css') }}">
{% endblock %}

{% block content %}

{% include 'partials/submenu.html' %}

{% if currency %}
<section>
    <h3 class="title">Divisas</h3>

    <div>
        <table class="currency-table">
            <thead>
                <tr>
                    <th>Euro (EUR)</th>
                    <th>Dólar Americano (USD)</th>
                    <th>Libra Esterlina (GBP)</th>
                    <th>Yuan Chino (CNY)</th>
                    <th>Yen Japonés (JPY)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td
                        class="{{ 'increased' if currency.rates.EUR.change == 'increased' else 'decreased' if currency.rates.EUR.change == 'decreased' else '' }}">
                        {{ currency.rates.EUR.rate }}€
                    </td>
                    <td
                        class="{{ 'increased' if currency.rates.USD.change == 'increased' else 'decreased' if currency.rates.USD.change == 'decreased' else '' }}">
                        {{ currency.rates.USD.rate }}$
                    </td>
                    <td
                        class="{{ 'increased' if currency.rates.GBP.change == 'increased' else 'decreased' if currency.rates.GBP.change == 'decreased' else '' }}">
                        {{ currency.rates.GBP.rate }}£
                    </td>
                    <td
                        class="{{ 'increased' if currency.rates.CNY.change == 'increased' else 'decreased' if currency.rates.CNY.change == 'decreased' else '' }}">
                        {{ currency.rates.CNY.rate }}¥
                    </td>
                    <td
                        class="{{ 'increased' if currency.rates.JPY.change == 'increased' else 'decreased' if currency.rates.JPY.change == 'decreased' else '' }}">
                        {{ currency.rates.JPY.rate }}¥
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endif %}

{% if cryptos %}
<section>
    <h3 class="title">Criptomonedas</h3>

    <div>
        <table class="cryptos-table">
            <thead>
                <tr>
                    <th>{{ cryptos[0].name }} ({{ cryptos[0].symbol }})</th>
                    <th>{{ cryptos[1].name }} ({{ cryptos[1].symbol }})</th>
                    <th>{{ cryptos[2].name }} ({{ cryptos[2].symbol }})</th>
                    <th>{{ cryptos[3].name }} ({{ cryptos[3].symbol }})</th>
                    <th>{{ cryptos[4].name }} ({{ cryptos[4].symbol }})</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ cryptos[0].current_price }}€
                    </td>
                    <td>
                        {{ cryptos[1].current_price }}€
                    </td>
                    <td>
                        {{ cryptos[2].current_price }}€
                    </td>
                    <td>
                        {{ cryptos[3].current_price }}€
                    </td>
                    <td>
                        {{ cryptos[4].current_price }}€
                    </td>
                </tr>

                <tr>
                    <td
                        class="{{ 'increased' if cryptos[0].price_change_percentage_30d_in_currency > 0 else 'decreased' if cryptos[0].price_change_percentage_30d_in_currency < 0 else '' }}">
                        {{ '%0.2f' | format(cryptos[0].price_change_percentage_30d_in_currency | float) }}% / mes
                    </td>
                    <td
                        class="{{ 'increased' if cryptos[1].price_change_percentage_30d_in_currency > 0 else 'decreased' if cryptos[1].price_change_percentage_30d_in_currency < 0 else '' }}">
                        {{ '%0.2f' | format(cryptos[1].price_change_percentage_30d_in_currency | float) }}% / mes
                    </td>
                    <td
                        class="{{ 'increased' if cryptos[2].price_change_percentage_30d_in_currency > 0 else 'decreased' if cryptos[2].price_change_percentage_30d_in_currency < 0 else '' }}">
                        {{ '%0.2f' | format(cryptos[2].price_change_percentage_30d_in_currency | float) }}% / mes
                    </td>
                    <td
                        class="{{ 'increased' if cryptos[3].price_change_percentage_30d_in_currency > 0 else 'decreased' if cryptos[3].price_change_percentage_30d_in_currency < 0 else '' }}">
                        {{ '%0.2f' | format(cryptos[3].price_change_percentage_30d_in_currency | float) }}% / mes
                    </td>
                    <td
                        class="{{ 'increased' if cryptos[4].price_change_percentage_30d_in_currency > 0 else 'decreased' if cryptos[4].price_change_percentage_30d_in_currency < 0 else '' }}">
                        {{ '%0.2f' | format(cryptos[4].price_change_percentage_30d_in_currency | float) }}% / mes
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endif %}

{% if metals %}
<section>
    <h3 class="title">Precios de metales</h3>

    <div>
        <table class="metals-table">
            <thead>
                <tr>
                    <th>Oro</th>
                    <th>Plata</th>
                    <th>Platino</th>
                    <th>Paladio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ metals.metals.gold }}{{'€' if metals.currency == 'EUR'}} por {{ metals.unit }}
                    </td>
                    <td>
                        {{ metals.metals.silver }}{{'€' if metals.currency == 'EUR'}} por {{ metals.unit }}
                    </td>
                    <td>
                        {{ metals.metals.platinum }}{{'€' if metals.currency == 'EUR'}} por {{ metals.unit }}
                    </td>
                    <td>
                        {{ metals.metals.palladium }}{{'€' if metals.currency == 'EUR'}} por {{ metals.unit }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endif %}

{% if open_markets %}
<section>
    <h3 class="title">Mercados abiertos</h3>

    <div class="open-markets-container">
        {% for market in open_markets %}
        <div class="market-card">
            <h5>{{ market.region }}</h5> <span>({{ market.market_type }})</span>
            <p class="p-card"><strong>Exchanges:</strong> {{ market.primary_exchanges }}</p>
            <p class="p-card"><strong>Horario:</strong> {{ market.local_open }} - {{ market.local_close }}</p>
        </div>
        {% endfor %}
    </div>

</section>
{% endif %}

{% if commodities_chart_data %}
<section>
    <h3 class="title">Materias primas</h3>

    <div class="commodities-container">
        <canvas id="commoditiesChart"></canvas>
    </div>

    <script>
        let commodities = {{ commodities_chart_data | tojson | safe}};
        commodities = JSON.parse(commodities);

        var ctx = document.getElementById('commoditiesChart').getContext('2d');

        var commoditiesChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: commodities.dates,
                datasets: [{
                    label: 'Trigo ($/t)',
                    data: commodities.values_wheat,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Maíz ($/t)',
                    data: commodities.values_corn,
                    backgroundColor: 'rgba(111, 99, 132, 0.2)',
                    borderColor: 'rgba(111, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Algodón (¢/lb)',
                    data: commodities.values_cotton,
                    backgroundColor: 'rgba(255, 222, 132, 0.2)',
                    borderColor: 'rgba(255, 222, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Café (¢/lb)',
                    data: commodities.values_coffee,
                    backgroundColor: 'rgba(40, 99, 132, 0.2)',
                    borderColor: 'rgba(40, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: false
                    },
                    x: {}
                }
            }
        });
    </script>

</section>
{% endif %}

{% endblock %}