{% extends 'partials/base.html' %}

{% block title %}Inicio{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

{% include 'partials/submenu.html' %}

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Palabra del día</h3>
            <h4>{{ today.word.name }}</h4>
            {% for def_word in today.word.defs_word %}
            <p>{{ def_word }}</p>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Palabra en inglés del día</h3>
            <h4>{{ today.english_word.name }}</h4>
            <p>{{ today.english_word.def_word }}</p>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Frase del día</h3>
            <h4>{{ today.saying.phrase }}</h4>
            <p>{{ today.saying.author }} - {{ today.saying.desc_author }}</p>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Curiosidad del día</h3>
            <h4>{{ today.curiosity.curiosity }}</h4>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Artículo del día</h3>
            <h4>{{ today.article.title }}</h4>
            <p>{{ today.article.body }}</p>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Santos del día</h3>

            <div id="carouselSaintsControls" class="carousel slide" data-bs-interval="false">
                <div class="carousel-indicators">
                    {% for saint in today.saints.list %}
                    {% if loop.index0 == 0 %}
                    <button type="button" data-bs-target="#carouselSaintsControls" data-bs-slide-to="{{ loop.index0 }}"
                        class="active" aria-current="true"></button>
                    {% else %}
                    <button type="button" data-bs-target="#carouselSaintsControls"
                        data-bs-slide-to="{{ loop.index0 }}"></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for saint in today.saints.list %}
                    {% if loop.index0 == 0 %}
                    <div class="carousel-item active text-center p-4">
                        <div class="col-md-6 offset-md-3">
                            <p>{{ saint.name }}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item text-center p-4">
                        <div class="col-md-6 offset-md-3">
                            <p>{{ saint.name }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSaintsControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselSaintsControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Efemérides del día</h3>

            <div id="carouselAnniversariesControls" class="carousel slide" data-bs-interval="false">
                <div class="carousel-indicators">
                    {% for anniversarie in today.anniversaries.list %}
                    {% if loop.index0 == 0 %}
                    <button type="button" data-bs-target="#carouselAnniversariesIndicators"
                        data-bs-slide-to="{{ loop.index0 }}" aria-current="true" class="active"></button>
                    {% else %}
                    <button type="button" data-bs-target="#carouselAnniversariesIndicators"
                        data-bs-slide-to="{{ loop.index0 }}"></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner" role="listbox">
                    {% for anniversarie in today.anniversaries.list %}
                    {% if loop.index0 == 0 %}
                    <div class="carousel-item active text-center p-4">
                        <div class="col-md-6 offset-md-3">
                            <p><b>{{ anniversarie.year }}</b> - {{ anniversarie.fact }}</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item text-center p-4">
                        <div class="col-md-6 offset-md-3">
                            <p><b>{{ anniversarie.year }}</b> - {{ anniversarie.fact }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselAnniversariesControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselAnniversariesControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>

        </div>
    </div>
</section>

{% endblock %}