{% extends 'partials/base.html' %}

{% block title %}Nuestras APIs{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/our_apis.css') }}">
{% endblock %}

{% block content %}

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Día completo:</h3>

            <pre><code>
                https://hodie.cafe/api/v1/external/today/all
            </code></pre>

        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Curiosidad del día:</h3>

            <pre><code>
                https://hodie.cafe/api/v1/internal/curiosity/today
            </code></pre>

        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Curiosidad aleatoria: (En construcción)</h3>

            <pre><code>
                https://hodie.cafe/api/v1/internal/curiosity/random
            </code></pre>

        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Frase del día: (En construcción)</h3>

            <pre><code>
                https://hodie.cafe/api/v1/internal/phrase/today
            </code></pre>

        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col">
            <h3 class="title">Frase aleatoria: (En construcción)</h3>

            <pre><code>
                https://hodie.cafe/api/v1/internal/phrase/random
            </code></pre>

        </div>
    </div>
</section>

{% endblock %}