{% extends 'general/base.html' %}

{% block title %}Alto el lápiz Mat.{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='scripts/stop_mat.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stop_mat.css') }}">
{% endblock %}

{% block content %}

<div id="stop-container">
    <h2>Alto el Lápiz Matemático &#129518;</h2>
    <h4>Hay que escribir el resultado redondeando sin decimales</h4>
    <button id="start-button">¡Empezar!</button>

    <div id="game-container">
        <h1 id="number-selected"></h1>

        <div>
            <h4 id="correctAnswers"></h4>
            <h4 id="incorrectAnswers"></h4>
        </div>

        <div id="progressBar">
            <div id="progressBarTimer"></div>
        </div>

        <div id="operations-container">
            <div>
                <label for="sum" id="sum-label">Suma</label>
                <input type="text" id="sum-input" name="sum" autocomplete="off"/>
                <span id="sum-result" class="correct-result"></span>
            </div>

            <div>
                <label for="subtraction" id="subtraction-label">Resta</label>
                <input type="text" id="subtraction-input" name="subtraction" autocomplete="off"/>
                <span id="subtraction-result" class="correct-result"></span>
            </div>

            <div>
                <label for="multiplication" id="multiplication-label">Multiplicación</label>
                <input type="text" id="multiplication-input" name="multiplication" autocomplete="off"/>
                <span id="multiplication-result" class="correct-result"></span>
            </div>

            <div>
                <label for="division" id="division-label">División</label>
                <input type="text" id="division-input" name="division" autocomplete="off"/>
                <span id="division-result" class="correct-result"></span>
            </div>

            <div>
                <label for="pow" id="pow-label">Cuadrado</label>
                <input type="text" id="pow-input" name="pow" autocomplete="off"/>
                <span id="pow-result" class="correct-result"></span>
            </div>

            <div>
                <label for="cube" id="cube-label">Cubo</label>
                <input type="text" id="cube-input" name="cube" autocomplete="off"/>
                <span id="cube-result" class="correct-result"></span>
            </div>

            <div>
                <label for="sqrt" id="sqrt-label">Raíz cuadrada</label>
                <input type="text" id="sqrt-input" name="sqrt" autocomplete="off"/>
                <span id="sqrt-result" class="correct-result"></span>
            </div>

            <div>
                <label for="percent" id="percent-label">Porcentaje</label>
                <input type="text" id="percent-input" name="percent" autocomplete="off"/>
                <span id="percent-result" class="correct-result"></span>
            </div>
        </div>

        <button id="stop-button">¡Alto!</button>
    </div>
</div>

{% endblock %}