{% extends 'general/base.html' %}

{% block title %}Alto el lápiz{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='scripts/stop.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stop.css') }}">
{% endblock %}

{% block content %}

<div id="stop-container">
    <h2>Alto el Lápiz ✏️</h2>
    <button id="start-button">¡Empezar!</button>

    <div id="game-container">
        <h1 id="letter-selected"></h1>

        <div>
            <h4 id="correctAnswers"></h4>
            <h4 id="incorrectAnswers"></h4>
        </div>

        <div id="progressBar">
            <div id="progressBarTimer"></div>
        </div>

        <div id="categories-container"></div>

        <button id="stop-button">¡Alto!</button>
    </div>
</div>

{% endblock %}