{% extends 'partials/base.html' %}

{% block title %}Adivina la palabra{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/games/hangman.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/games/hangman.css') }}">
{% endblock %}

{% block content %}

<div id="hangman-container">
    <h2 class="title" id="dynamic-title">Adivina la palabra &#128064;</h2>
    <div id="word-display"></div>
    <div id="letters-container"></div>
    <img id="hangman-image" src="{{ url_for('static', filename='img/hangman/0.png') }}" alt="Zorrito">
</div>

{% endblock %}