/* Tabla ratios de monedas */
.currency-table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

.currency-table th,
.currency-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.currency-table th:nth-child(1),
.currency-table td:nth-child(1) {
    background-color: #113041;
    font-weight: bold;
}

.increased {
    color: green;
}

.decreased {
    color: red;
}

.increased::before {
    content: '▲';
    color: green;
    margin-right: 5px;
}

.decreased::before {
    content: '▼';
    color: red;
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {
    .currency-table th:nth-child(5),
    .currency-table td:nth-child(5) {
        display: none;
    }
}

/* Tabla valores de metales */
.metals-table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}

.metals-table th,
.metals-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
    .metals-table th:nth-child(4),
    .metals-table td:nth-child(4) {
        display: none;
    }
}