/* Tabla ratios de monedas */
.currency-table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

.currency-table th,
.currency-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.currency-table th:nth-child(1),
.currency-table td:nth-child(1) {
    background-color: #113041;
    font-weight: bold;
}

.increased {
    color: green;
}

.decreased {
    color: red;
}

.increased::before {
    content: '▲';
    color: green;
    margin-right: 5px;
}

.decreased::before {
    content: '▼';
    color: red;
    margin-right: 5px;
}

@media only screen and (max-width: 768px) {

    .currency-table th:nth-child(5),
    .currency-table td:nth-child(5) {
        display: none;
    }
}

/* Tabla valores de metales */
.metals-table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

.metals-table th,
.metals-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {

    .metals-table th:nth-child(4),
    .metals-table td:nth-child(4) {
        display: none;
    }
}

/* Mercados abiertos */
.open-markets-container {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.market-card {
    border: 1px solid #ddd;
    flex-direction: column;
    margin: 3px;
    padding: 6px;
    border-radius: 8px;
    font-size: 0.9em;
}

.market-card h5,
.market-card p {
    margin: 2px 0;
}

h5 {
    color: green;
    display: inline;
}

@media only screen and (max-width: 768px) {

    .p-card {
        display: none;
    }
}

/* Gráfica bienes básicos */
.commodities-container {
    margin: 0 auto;
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    min-height: 300px;
}