body{
    background-color: rgb(39, 38, 38);
    color: aliceblue;
}

.title {
    text-align: center;
    color: #1795c7;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.sub-title {
    text-align: center;
    color: #e2a31c;
    margin-top: 20px;
    margin-bottom: 15px;
}