#stop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#letter-selected {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    color: #e9ec18;
    background-color: #333;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#correctAnswers {
    margin: 10px;
    text-align: center;
    color: #13da1d;
}

#incorrectAnswers {
    margin: 10px;
    text-align: center;
    color: #da2020;
}

#start-button {
    font-size: 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
}

#stop-button {
    font-size: 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px;
}

input {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-correct {
    padding: 10px;
    border: 3px solid #11da11;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 2px rgba(12, 255, 20, 0.5);
}

.input-incorrect {
    padding: 10px;
    border: 3px solid #db0808;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 2px rgba(218, 9, 9, 0.5);
}

h2 {
    text-align: center;
    color: #1795c7;
    margin-top: 20px;
    margin-bottom: 0px;
}

#progressBar {
    width: 90%;
    height: 22px;
    margin: 10px auto;
    background-color: #333;
    border-radius: 20px;
}

#progressBarTimer {
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 22px;
    background-color: #CBEA00;
    box-sizing: border-box;
    border-radius: 20px;
}