name: Desplegar main en VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd Hodiernus
            git pull origin main
            docker stop $(docker ps -a -q)
            docker build -t hodie:ghactions .
            docker run -d -v ./certs:/certs -p 443:8000 hodie:ghactions
